* {
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #e5e8e8;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 70%;
    background-color: #343e48;
}

#map-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 0.3rem;
}

#map, #map1, #map2, #map3 {
    height: 50vh;
    width: auto;
    border: 1px solid darkblue;
}

img {
    max-width: 50px;
    width: 100%;
    height: auto ;
    align-self: center;
    margin: 0.2rem 0rem;
}

h1 {
    margin: 2rem 0rem 1rem 0rem;
    font-weight: lighter;
}

.flex-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#slovenian_flag {
    height: 110%;
    margin: 0;
}
@media all and (max-width: 707px) {
    body {
        width: 85%;
    }
    h1 {
        font-size: 1.6rem;
    }
    .flex-wrapper {
        justify-content: space-between;
    } .flex-amsterdam {
        justify-content: space-between;
    }
}

@media screen and (max-width: 500px) {
    body {
        margin: 0.3rem auto;
        width: 90%;
    }

    #div-wrapper {
        margin: 0;
        padding: 0;
    }
   
    h1 {
        margin: 0.3rem 0rem 1rem 0rem
    }
    .flex-wrapper {
        margin-top: 10px;
    }
    .flex-amsterdam {
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }
}